PORT=9000
AGENT_ID=agent-yuxiaohe-1grmumm967563411
TCB_ENV=cloud1-3ghmr5ki7b1172fe
ENV_ID=cloud1-3ghmr5ki7b1172fe
ADP_APP_KEY=fzUhsrgrwfbQyfpKVAorOKdzKaurGTuFYfRECTegiUHSmqaUPBhQhepFWEhHffMEXTmSgQMVvOUXotMxjLdxRqIZSDKEgHYYVhlsqGuEWVNdKVMCcDlPbuMFOEFtPglF
ADP_MODEL_NAME=deepseek-v3
TENCENTCLOUD_SECRETID=
TENCENTCLOUD_SECRETKEY=
TENCENTCLOUD_SESSIONTOKEN=
